APP_NAME=""
APP_VERSION=""

MONGO_URL="..."
MONGO_DB="newsX"
MONGO_COL_1="articles"
MONGO_COL_STATS="statistics"
MONGO_COL_ANALYSIS="analysis"


CHROMA_PATH="./chroma_db"
CHROMA_COLL="article_embeddings"

LANGCHAIN_API_KEY=
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_PROJECT=

OPENAI_API_KEY=""
OPENAI_API_URL=""
OPENAI_GENERATION_MODEL_ID=""
OPENAI_EMBEDDING_MODEL_ID=""

PROVIDERS="openai"  # openai | huggingface
BotToken=""
chatID=""

ANALYZER_MODEL_NAME="Qwen/Qwen2.5-1.5B-Instruct"
ADAPTER_NAME="AbdoSaad24/news-analyzer"