APP_NAME=""
APP_VERSION=""

MONGO_URL="..."
MONGO_DB="newsX"
MONGO_COL_1="articles"

CHROMA_PATH="./chroma_db"
CHROMA_COLL="article_embeddings"

OPENAI_API_KEY=""
OPENAI_API_URL=""
OPENAI_GENERATION_MODEL_ID=""
OPENAI_EMBEDDING_MODEL_ID=""

PROVIDERS="openai"  # openai | huggingface